<router-outlet></router-outlet>
    <!-- Wrapper da página -->
    <div id="wrapper">
        <!-- Wrapper do conteúdo -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Conteúdo principal -->
            <div id="content">
                <!-- Barra superior -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <div class="logo"><img src="../assets/img/logo_principal.jpg" class="logo"></div>
                    <!-- Remover botão caso o usuário não seja barbeiro -->
                    <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Iniciar Fila</a>
                    <ul class="navbar-nav ml-auto">
                        <!-- Menu do usuário -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ user.name }}</span>
                                <img class="img-profile rounded-circle"
                                    src="../assets/img/profile.svg">
                            </a>
                            <!-- Dropdown - Sair -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">                               
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#servicetModal">
                                    Serviço
                                </a>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#funcionariotModalLabel">
                                    Funcionário
                                </a>
                                <a class="dropdown-item"  href="#" data-toggle="modal" (click)="logoutAsync()">
                                    Sair
                                </a>
                            </div>
                        </li>
                    </ul>                    
                </nav>
                <!-- Fim da barra superior -->

                <!-- Início do conteúdo da página -->
                <div class="container mt-5">
                    <div *ngFor="let cliente of listaClientes" >
                        <app-customer-card name="{{cliente.name}}"></app-customer-card>
                     </div>
                </div>
                 <!-- Fim da área da tabela de investimentos -->

            <!-- Rodapé -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Desenvolvimento de Aplicações Web &copy; <br>Web BarberShop 2022</span>
                    </div>
                </div>
            </footer>
            <!-- Fim do rodapé -->
        </div>        
    </div>
    <!-- Fim do wrapper principal -->

    <!-- Serviço -->
    <div class="modal fade bd-example-modal-sm" id="servicetModal" tabindex="-1" role="dialog" aria-labelledby="servicetModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="depositModal">Cadastro de Serviços</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                   <div class="col-8">
                    <label  class="col-form-label ">Descrição</label>
                    <input type="text" class="form-control" id="descricao">
                   </div>
                   <div class="col-4">
                    <label  class="col-form-label ">Preço:</label>
                    <input type="text" class="form-control" id="preco">
                   </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
              <button type="button" class="btn btn-primary" (click)="createNewService()" >Confirmar</button>
            </div>
          </div>
        </div>
    </div>

    <!-- Funcionário -->
    <div class="modal fade bd-example-modal-sm" id="funcionariotModalLabel" tabindex="-1" role="dialog" aria-labelledby="funcionariotModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="depositModal">Cadastro de Funcionários</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                   <div class="col-12">
                    <label  class="col-form-label ">Nome</label>
                    <input type="text" class="form-control" id="nome">
                   </div>
                   <div class="col-12">
                    <label  class="col-form-label ">Email:</label>
                    <input type="text" class="form-control" id="email">
                   </div>                   
                   <div class="col-12">
                    <label  class="col-form-label ">Senha:</label>
                    <input type="password" class="form-control" id="senha">
                   </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
              <button type="button" class="btn btn-primary" >Confirmar</button>
            </div>
          </div>
        </div>
    </div>